@font-face {font-family: "simple-line-icons";src: url("simple-line-icons.eot?qew152");src: url("simple-line-icons.eot?qew152#iefix") format("embedded-opentype"),url("simple-line-icons.ttf?qew152") format("truetype"),url("simple-line-icons.woff?qew152") format("woff"),url("simple-line-icons.svg?qew152#simple-line-icons") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "simple-line-icons" !important;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-anchor:before {content: "";}
.icon-badge:before {content: "";}
.icon-bell:before {content: "";}
.icon-chemestry:before {content: "";}
.icon-controller:before {content: "";}
.icon-credit-card:before {content: "";}
.icon-crop:before {content: "";}
.icon-cup:before {content: "";}
.icon-disc:before {content: "";}
.icon-dribbble:before {content: "";}
.icon-dropbox:before {content: "";}
.icon-emoticon:before {content: "";}
.icon-energy:before {content: "";}
.icon-envelope-letter:before {content: "";}
.icon-envelope-open:before {content: "";}
.icon-eyeglasses:before {content: "";}
.icon-facebook:before {content: "";}
.icon-fire:before {content: "";}
.icon-follow:before {content: "";}
.icon-following:before {content: "";}
.icon-friends:before {content: "";}
.icon-ghost:before {content: "";}
.icon-graduation-cap:before {content: "";}
.icon-hourglass:before {content: "";}
.icon-magic-wand:before {content: "";}
.icon-magnet:before {content: "";}
.icon-monitor:before {content: "";}
.icon-mouse:before {content: "";}
.icon-moustache:before {content: "";}
.icon-move:before {content: "";}
.icon-notebook:before {content: "";}
.icon-phone:before {content: "";}
.icon-plane:before {content: "";}
.icon-shield:before {content: "";}
.icon-speedometer:before {content: "";}
.icon-tablet:before {content: "";}
.icon-tumblr:before {content: "";}
.icon-twitter:before {content: "";}
.icon-unfollow:before {content: "";}
.icon-youtube:before {content: "";}
.icon-arrow-left:before {content: "";}
.icon-arrow-right:before {content: "";}
.icon-bag:before {content: "";}
.icon-basket:before {content: "";}
.icon-basket-loaded:before {content: "";}
.icon-briefcase:before {content: "";}
.icon-bubbles:before {content: "";}
.icon-calculator:before {content: "";}
.icon-call-end:before {content: "";}
.icon-call-in:before {content: "";}
.icon-call-out:before {content: "";}
.icon-compass:before {content: "";}
.icon-cup2:before {content: "";}
.icon-diamond:before {content: "";}
.icon-direction:before {content: "";}
.icon-directions:before {content: "";}
.icon-documents:before {content: "";}
.icon-drawer:before {content: "";}
.icon-droplet:before {content: "";}
.icon-feed:before {content: "";}
.icon-film:before {content: "";}
.icon-folder:before {content: "";}
.icon-frame:before {content: "";}
.icon-globe-1:before {content: "";}
.icon-globe-2:before {content: "";}
.icon-handbag:before {content: "";}
.icon-headphones:before {content: "";}
.icon-headphones-microphone:before {content: "";}
.icon-layers:before {content: "";}
.icon-map:before {content: "";}
.icon-opened-book:before {content: "";}
.icon-picture:before {content: "";}
.icon-pin:before {content: "";}
.icon-playlist:before {content: "";}
.icon-present:before {content: "";}
.icon-printer:before {content: "";}
.icon-puzzle:before {content: "";}
.icon-speach:before {content: "";}
.icon-vector:before {content: "";}
.icon-wallet:before {content: "";}
.icon-ban:before {content: "";}
.icon-bubble:before {content: "";}
.icon-check:before {content: "";}
.icon-clock:before {content: "";}
.icon-close:before {content: "";}
.icon-document:before {content: "";}
.icon-download:before {content: "";}
.icon-envelope:before {content: "";}
.icon-eye:before {content: "";}
.icon-female:before {content: "";}
.icon-female-user:before {content: "";}
.icon-flag:before {content: "";}
.icon-folder2:before {content: "";}
.icon-heart:before {content: "";}
.icon-info:before {content: "";}
.icon-key:before {content: "";}
.icon-link:before {content: "";}
.icon-lock:before {content: "";}
.icon-magnifier:before {content: "";}
.icon-male:before {content: "";}
.icon-male-user:before {content: "";}
.icon-paper-clip:before {content: "";}
.icon-paper-plane:before {content: "";}
.icon-photo:before {content: "";}
.icon-plus:before {content: "";}
.icon-pointer:before {content: "";}
.icon-power:before {content: "";}
.icon-refresh:before {content: "";}
.icon-reload:before {content: "";}
.icon-settings:before {content: "";}
.icon-star:before {content: "";}
.icon-target:before {content: "";}
.icon-unlock:before {content: "";}
.icon-upload:before {content: "";}
.icon-video:before {content: "";}
.icon-volume-1:before {content: "";}
.icon-volume-2:before {content: "";}
.icon-volume-off:before {content: "";}
.icon-zoom-in:before {content: "";}
.icon-zoom-out:before {content: "";}
.icon-actual-size:before {content: "";}
.icon-bar-chart:before {content: "";}
.icon-bulb:before {content: "";}
.icon-calendar:before {content: "";}
.icon-config:before {content: "";}
.icon-cursor:before {content: "";}
.icon-dislike:before {content: "";}
.icon-end:before {content: "";}
.icon-forward:before {content: "";}
.icon-full-screen:before {content: "";}
.icon-graph:before {content: "";}
.icon-grid:before {content: "";}
.icon-help:before {content: "";}
.icon-home:before {content: "";}
.icon-left:before {content: "";}
.icon-like:before {content: "";}
.icon-list:before {content: "";}
.icon-login:before {content: "";}
.icon-logout:before {content: "";}
.icon-loop:before {content: "";}
.icon-microphone:before {content: "";}
.icon-music-note1:before {content: "";}
.icon-music-note2:before {content: "";}
.icon-note:before {content: "";}
.icon-pause:before {content: "";}
.icon-pencil:before {content: "";}
.icon-pie-chart:before {content: "";}
.icon-play:before {content: "";}
.icon-question:before {content: "";}
.icon-rewind:before {content: "";}
.icon-right:before {content: "";}
.icon-rocket:before {content: "";}
.icon-share1:before {content: "";}
.icon-share2:before {content: "";}
.icon-shuffle:before {content: "";}
.icon-start:before {content: "";}
.icon-tag:before {content: "";}
.icon-trash:before {content: "";}
.icon-umbrella:before {content: "";}
.icon-wrench:before {content: "";}